@()

@import helper._

@main("Labels4all") {
    
<h1>Labels4all</h1>
<p>This site has been developed by 
 <a href="http://www.di.uniovi.es/~labra">Jose E. Labra</a>
 (<a href="http://www.weso.es">WESO Research Group</a>)
</p>

}