@()

@import helper._

@main("Labels4all") {
    
   <h1>Labels4all - Admin</h1>

   <ul>
    <a href="@routes.Application.index">Home</a>
    <a href="@routes.Admin.iris">IRIs</a>
    <a href="@routes.Admin.languages">Languages</a>
    <a href="@routes.Admin.translations">Translations</a>
   </ul>
}