@(languages: Seq[Lang], searchForm: Form[SearchField])(implicit flash: play.api.mvc.Flash)

@import helper._

@main("Labels4all") {
    
    <h2 class="result">@flash.get("message").getOrElse("")</h2>
    
    @form(routes.Application.searchTranslation) {
	  <fieldset>        
        @inputText(searchForm("iriName"), '_label -> "IRI") 
        @inputText(searchForm("langCode"), '_label -> "Language") 
      </fieldset>  
      <input type="submit" value="@Messages("Search") ">
        
    }
    
}