@(langs: List[Language], langForm: Form[Language], defaultLanguage: Lang)

@import helper._

@main("Labels4all") {
    
    <h2>Admin Languages</h2>

    <p>Number of languages: @langs.size</h2>
    <ul>
        @langs.map { lang =>
            <li>
                @lang.langCode, @lang.langName
                
                @form(routes.Admin.deleteLang(lang.id.get)) {
                    <input type="submit" value="@Messages("Delete")(defaultLanguage)">
                }
            </li>
        }
    </ul>
    
    <h2>Add language</h2>
    
    @form(routes.Admin.newLang()) {
        
        <fieldset>
        
            @inputText(langForm("langCode"), '_label -> "Language code")
            @inputText(langForm("langName"), '_label -> "Language name")
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create language" class="btn primary"> or 
            <a href="@routes.Application.index()" class="btn">Cancel</a> 
        </div>
    }

    
}