@(translations: List[ViewTranslation], translationForm: Form[ViewTranslation],defaultLanguage: Lang)

@import helper._

@main("Labels4all") {
    
    <h2>Admin Translations</h2>
    <p>Number of translations: @translations.size</h2>
    
    <table>
     <tr>
      <th>IRI</th>
      <th>Language code</th>
      <th>Label</th>
      <th>Votes</th>
     </tr>
        @translations.map { t =>
        <tr>
            <td>@t.iri</td>
            <td>@t.langCode</td>
            <td>@t.label</td>
            <td>@t.votes</td>
            <td>@form(routes.Admin.deleteTrans(t.id)) {
                    <input type="submit" value="@Messages("Delete")(defaultLanguage)">
                }</td>
        </tr>
        }
    </table>

    <h2>Add translation</h2>
    
    @form(routes.Admin.newTranslation()) {
        
        <fieldset>
        
            @inputText(translationForm("iri"), '_label -> "IRI")
            @inputText(translationForm("langCode"), '_label -> "Language code")
            @inputText(translationForm("label"), '_label -> "Label")
            @inputText(translationForm("votes"), '_label -> "Votes")
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create Translation" class="btn primary"> or 
            <a href="@routes.Application.index()" class="btn">Cancel</a> 
        </div>
    }
    
    
}